<body>
  <div class="content">
      <h1 class="app-name">APPNAME</h1>
  </div>
  <div class="login-form">
      <h1>Login</h1>
      <form>
          <input type="text" id="emaillogin" placeholder="Email Address" required>
          <input type="password" id="passwordlogin" placeholder="Password" required>
          <button class="btn btn-outline-dark" id="login" type="submit">
              Login
          </button>

      </form>
      <h5>Don't have an account? <a href="" style="color: black;">Click Here</a></h5>
  </div>
</body>
<div style="border: solid white 2px;">
  <app-signup>

  </app-signup>
</div>
<router-outlet />
