<p>token works!</p>
<body>
    <div class="content">
        <h1 class="app-name">JWT Auth</h1>
    </div>
    <div class="login-form">
        <h1>Login</h1>
        <div class="form" >
            <input type="text" id="emaillogin" placeholder="Email Address" [(ngModel)]="username" required />
            <input type="password" id="passwordlogin" placeholder="Password" [(ngModel)]="password"required />
            <button class="btn btn-outline-dark" id="login" type="submit" (click)="generateToken(username,password)">
                Login
            </button><br><br><br>
            <!-- <textarea name="token" id="token" style="text-align: left;padding: 5px;">{{ token }}</textarea> -->
            <!-- <button class="btn btn-outline-dark" id="login" type="submit" (click)="authorize(token)">
                Test
            </button> -->
            <h3>{{message}}</h3>
        </div>
        <h5>Don't have an account? <a href="" style="color: black;">Click Here</a></h5>
    </div>
  </body>